#tutoring {
    color: white;
    font-weight: bold;
}

.tutoring-img {
    width: 100%;
    background-color: white;
    opacity: 0.75;
    border-radius: 2%;
    margin: 0px 0px 25px 0px;
}

.tutoring-img:hover {
    opacity: 1.50;
}