.officers .card {
    margin: 20px 0px;
    background-color: rgb(8, 12, 41);
    color: #FFFFFF;
}

.officers .card img {
    border-radius: 100%;
}

.title h1 {
    /* background-image: linear-gradient(to right, rgb(255, 255, 0), rgb(245, 245, 163)); */
    /* background-color: rgb(246, 246, 92); */
    padding-top: 12px;
    background-color: rgb(8, 12, 41);
}