.side-drawer {
    height: 100%;
    background: #042E46;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.4s;
}

.side-drawer.open {
    transform: translateX(0);
}

.acm-image {
    width: 100%;
    position: relative;
    top: 60px;
}

.side-drawer ul {
    position: relative;
    top: 60px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-drawer li {
    margin: 0.5rem 0;
}

.side-drawer a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: rgb(255, 251, 0);
}