footer {
    background: rgb(3, 4, 15);
    height: 60px;
    -webkit-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.footer-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-text {
    font-size: 15px;
    color: #FFFFFF;
    margin: auto;
}

.icons {
    font-size: 25px;
}

#react {
    color: rgb(0, 225, 255);
}

#bootstrap {
    color: rgb(132, 0, 255);
}

@media (max-width: 600px) {
    .footer-text {
        font-size: 12px;
    } 
}