footer {
    background: rgb(8, 12, 41);
    height: 60px;
    -webkit-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.footer-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-text {
    font-size: 15px;
    color: #FFFFFF;
    margin: auto;
}